[Unit]
Description=Planification de la synchronisation CSRS Report vers CSRS ENT

[Timer]
OnCalendar=*-*-* 02:35:00 UTC
Persistent=true
Unit=csrs-ent-legacy-sync.service

[Install]
WantedBy=timers.target
