[Unit]
Description=Planification de la synchronisation CSRS Report vers CSRS ENT

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
Persistent=true
RandomizedDelaySec=10m
Unit=csrs-ent-legacy-sync.service

[Install]
WantedBy=timers.target
